{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <h1 style = "font-size:60px; color:white">Weather App</h1>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body style="background-color:#000000e7">

<form method="post">
  {% csrf_token %}
  <input type="text" name="city1" placeholder="Enter City Name">
  <input type="text" name="city2" placeholder="Enter City Name">
  <button type="submit">Compare Weather</button>
</form>

<div class="comparison-container">
  {% if weather_data1 %}
    <div class="city-container">
      {% include 'weather_app/city_weather.html' with weather_data=weather_data1 daily_forecasts=daily_forecasts1 city_info=city_info1 %}
    </div>
  {% endif %}
  {% if weather_data2 %}
    <div class="city-container">
      {% include 'weather_app/city_weather.html' with weather_data=weather_data2 daily_forecasts=daily_forecasts2 city_info=city_info2 %}
    </div>
  {% endif %}
</div>

</body>
</html>